# Environment & Secrets
.env
*.env
*.env.*
!.env.example
!*.env.example
!**/.env.example

# Databases
*.db
*.sqlite
*.sqlite3

# Python
venv/
**/venv/
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
**/.pytest_cache/

# Node / Frontend
node_modules/
**/node_modules/
dist/
**/dist/
.vite/
**/.vite/

# OS / Editor
.DS_Store
**/.DS_Store
.vscode/
.idea/
